@font-face {
  font-family: 'Roboto';
  @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');
}

body {
  padding: 8px;
  background: #d2b29696;
}

h1, h2, h3 h4, p, a {
  font-family: 'Roboto Mono', monospace; 
  font-weight: 300;
  color: #72431A;
}
h2 {
  font-size: 1.4rem;
  font-weight: 400;
}
p {
  font-size: 0.9rem;
}

a {
  text-decoration: none !important;
}
.pt50 {
  padding: 50px 0 0 0;
}
.App {
  text-align: center;
  background-color: #F4ECE9;
  position: relative;
  padding: 0 40px;
}

.App-logo {
  max-width: 100%;
  height: 60px;
}

.App-header {
  padding: 60px;
  color: white;
  min-height: 60vh;
}

.App-social {
  display:  inline-block;
  position: absolute;
  top: 22px;
  right: 0;
  z-index: 1;
  font-size: 12px;
  letter-spacing: 1px;
}
.App-social a {
  margin: 0 14px;
}

.highlightbkg-y {
  top: 0;
  left: 0;
  position: relative;
  transform: translateX(-50%);
  display: inline-block;
  height: 0px;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.highlightbkg-y:after {
  background: #DDB26D;
  width: 0px;
  height: 18px;
  position: relative;
  content:"";
  display: block;
  transition: all 200ms ease-in-out;
  top: -18px;
  z-index: -1;
}
.highlightbkg-y:hover {
  color: #fff;
}
.highlightbkg-y:hover:after {
  width: 110%;
}

.highlightbkg-b {
  top: 0;
  left: 0;
  position: relative;
  transform: translateX(-50%);
  display: inline-block;
  height: 0px;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.highlightbkg-b:after {
  background: #A2B1C1;
  width: 0px;
  height: 18px;
  position: relative;
  content:"";
  display: block;
  transition: all 200ms ease-in-out;
  top: -18px;
  z-index: -1;
}
.highlightbkg-b:hover {
  color: #fff;
}
.highlightbkg-b:hover:after {
  width: 110%;
}

.App-intro {
  font-size: 1em;
  padding-bottom: 40px;
  letter-spacing: 1px;
  padding-top: 100px;
}

.App-subtitle {
  font-size: 1em;
}

.App-menu {
  text-align: left;
  display: flex;
  justify-content: center;
}
.col {
  padding: 50px;
  display: inline-grid;
  grid-gap: 10px;
}

@media (max-width: 414px) {
  .App-menu {
    display: flex;
    justify-content: space-between !important;
    padding-top: 50px;
  }
  .col {
    padding: 0 !important;
  }
}

.highlight-yellow:hover {
  color: #DDB26D;
}
.highlight-blue:hover {
  color: #A2B1C1;
}

.stamp {
  position: absolute;
  left: -35px;
  z-index: 10;
  bottom: 46%;
}
.stamp img {
  position: relative;
  left: 0;
  top: -72px;
}

#circle {
  position: relative;
  background: transparent;
  border-radius: 100%;
  border: 2px solid #A2B1C1;
  width:90px;
  height:90px;
}

.squiggly {
  position: absolute;
  left: 70%;
  top: 6%;
  width: 30%;
  transform: rotate(-18deg);
  z-index: 0;
}

.App-about {
  background: #DBC5B9;
}

.App-about .App-subtitle {
  transform: rotate(-90deg);
  position: sticky;
  top: 92%;
  margin-left: 94%;
}

.App-about .App-subtitle:after {
  background: #72431a;
  width: 100%;
  height: 2px;
  position: relative;
  content: "";
  display: block;
  left: 74px;
  top: -9px;
  z-index: -1;
}
.App-about .App-intro {
  line-height: 50px;
  padding: 50px;
}
.drag {
  font-weight: 700;
  font-style: italic;
}

#lillian {
  position: relative;
  left: 40%;
  top: -208px;
}
#cheetos {
  position: relative;
  left: -42%;
  top: -108px;
}
#stories {
  position: relative;
  left: -5%;
  top: -50px;
}
#yoga {
  position: relative;
  left: -26%;
  top: -333px;
}
#exploring {
  position: relative;
  left: 17%;
  top: -322px;
}
#coconut {
  position: relative;
  left: -21%;
  top: -333px;
}
#lilly {
  position: relative;
  left: -37%;
  top: -397px;
}
#documenting {
  position: relative;
  left: 30%;
  top: -299px;
}

.bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  grid-column-gap: 46px;
  margin: -180px 100px 0;
  padding: 50px 0 100px 0;
}

.App-web .App-subtitle {
  transform: rotate(-90deg);
  position: sticky;
  top: 92%;
  margin-left: 94%;
}
.App-web .App-subtitle:after {
  background: #72431a;
  width: 100%;
  height: 2px;
  position: relative;
  content: "";
  display: block;
  left: 74px;
  top: -9px;
  z-index: -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 6rem 5rem;
  text-align: left;
}

.projects p {
  width: 80%;
}

.App-contact .App-subtitle {
  transform: rotate(-90deg);
  position: sticky;
  top: 92%;
  margin-left: 94%;
}
.App-contact .App-subtitle:after {
  background: #72431a;
  width: 100%;
  height: 2px;
  position: relative;
  content: "";
  display: block;
  left: 74px;
  top: -9px;
  z-index: -1;
}

.spin {
  -webkit-animation: rotation 20s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(40deg);
    }
    to {
        -webkit-transform: rotate(1059deg);
    }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
